In [2]:
print("Hello ", end='')
print('World!')

Hello World!

In [2]:
type(2)
type(2.7)
type(True)
type('abc')

str

In [3]:
one, two, three = 1, 2, 3
two

2

In [5]:
# single line comment
"""
multi line comment
"""
'''
multi line comment
'''

'\nmulti line comment\n'

In [5]:
# exponential
2**3

8

In [6]:
# string multiplication
"a" * 3

'aaa'

In [7]:
# division
16 / 3

5.333333333333333

In [8]:
# division (whole number)
16 // 3

5

In [9]:
s = "abcde"
len(s)

5

In [10]:
s[0]

'a'

In [11]:
s[1:]

'bcde'

In [12]:
s[:3]

'abc'

In [13]:
s[2:4]

'cd'

In [14]:
s[-1]

'e'

In [15]:
s[-2:]

'de'

In [16]:
s[:-3]

'ab'

In [17]:
# s[0] = "x" => Error!

In [18]:
s = "abc" + "xyz"
s

'abcxyz'

In [19]:
print("Today I had {0} cups of {1}".format(3, "coffee"))

Today I had 3 cups of coffee

In [20]:
print("{x}, {y}, {z}".format(x = 2.0, z = 77, y = 6))

2.0, 6, 77

In [21]:
# right align, 12 literals. right side of string fit to the number + padding spaces.
print("123456789")
print("{:>5}".format("abc"))

123456789
  abc

In [22]:
# {:<6} or {:6} left align, 6 literals + padding spaces.
print("123456789")
print("{:<6}".format("abc"))

123456789
abc

In [23]:
# {:<6} or {:6} left align, 6 literals. Specify the filling character (*).
print("123456789")
print("{:*<10}".format("abc"))

123456789
abc*******

In [24]:
# {:^10} align center.
print("123456789")
print("{:^10}".format("abc"))

123456789
   abc

In [25]:
# {:b} binary number.
print("{:b}".format(8))

1000

In [26]:
# {:x} hex number. {:X} captalized
print("{:x}".format(216))

d8

In [27]:
# {:.5} trancate long string.
print("123456789")
print("{0:.5}".format("abcdefghijk"))

123456789
abcde

In [28]:
# {i:.3f} i-th variable, 3 digits after dot (4sha5nyuu)(precision), float number.
print("{0:.3f} and {1:.5f}".format(0.123456, 0.5))

0.123 and 0.50000

In [29]:
# {:06.2f} At least 5 characters with 2 after the decimal point.
print("123456789")
print("{:05.3f}".format(1.123456789))

123456789
1.123

In [30]:
# Zeros padding.
print("123456789")
print("{:06d}".format(123))

123456789
000123

In [31]:
# Positive sign.
print("{:+d}".format(123))

+123

In [32]:
# Minus sign for negative numbers and a space for positive numbers.
print("123456789")
print("{: d}".format(123))
print("{: d}".format(-123))

123456789
 123
-123

In [33]:
# Sign position.
print("123456789")
print("{:=8d}".format(-123))

123456789
-    123

In [34]:
'{:{align}{width}}'.format('test', align='^', width='10')

'   test   '

In [35]:
'{:{width}.{prec}f}'.format(2.7182, width=5, prec=2)

' 2.72'

In [36]:
# This prints out "John is 23 years old."
name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

In [37]:
# \ escape character.
'I\'m John!'

"I'm John!"

In [38]:
# Raw strings: don't use the escape character.
# r'C:\downloads\test\'

In [39]:
print("""abc
  Verbatim
          print!
&*¨""")

abc
  Verbatim
          print!
&*¨

In [40]:
# Define end string, in this case no '\n' is printed.
print("a", end="bbb")

abbb

## If statement

```python
if condition:
    #code
elif condition:
    #code
else:
    #code
```

### Ternary operator

```python
condition_is_true if condition else condition_is_false
```

In [41]:
condition = True
print(2 if condition else 1/0)

2

```python
(if_test_is_false, if_test_is_true)[test]
```

In [42]:
condition = True
#print((1/0, 2)[condition])
#ZeroDivisionError is raised

# range

```python
range(start, stop[, step])
```
Returns start, start+1, … , stop - 1.

```python
range(stop)
```
Returns 0, 1, … , stop - 1.

# Loop

```python
for i in range(10):
    #code

while condition:
    #code
```
- `break`: get out of loop
- `continue`: skip the current iteration (go to next "i").

# Function
```python
def function_name(a = 1, b):
    #code
```

In [43]:
def f(a):
    def g(b):
        return a ** b
    return g
f(2)(3)

8

In [44]:
f = lambda x, y: x + y
f(2, 3)

5

In [45]:
f = lambda x: lambda y: lambda z: x * y * z
f(2)(3)(4)

24

# Exception

In [46]:
try:
    a = 5 / 0 # throws ZeroDivisionError.
except Exception as e:
    print(e)
except ZeroDivisionError:
    #code
    print("a")

division by zero

In [47]:
try:
    a = 5 / 0 # throws ZeroDivisionError.
except Exception as e:
    print(e)
finally:
    # code executed in the final.
    print("a")

division by zero
a

## Raise exception

In [48]:
raise ValueError("This is exception!")

ValueError: This is exception!

In [49]:
try:
    assert 44 < 3, "print(e) content"
except AssertError as e:
    print(e)

NameError: name 'AssertError' is not defined

# Files

```python
file = open(file_name, access[, buffer])
file.read() #read whole file.
file.read(5) # read 5 bytes.
file.close()
file.tell() # tells the current pointer position.
file.seek(4) # change the poiter position to 5 th (0,1,2,3,4) byte.
file.write("message")
```

# Tuple

no assignment is possible. 
can't do: `t[1] = "A"`.

In [50]:
t = (1, "2", 3.0)
t

(1, '2', 3.0)

In [51]:
t = 1, "2", 3.0
t

(1, '2', 3.0)

In [52]:
t = (1,) # One element tuple.
t

(1,)

In [53]:
t = (1, "2", 3.0)
t2 = t + (4,)
t2

(1, '2', 3.0, 4)

In [54]:
(1,2) * 4

(1, 2, 1, 2, 1, 2, 1, 2)

In [55]:
t = (1, "2", 3.0)
len(t)

3

In [56]:
t = (1, 100, 10)
max(t)

100

In [57]:
t = (1, 100, 10)
min(t)

1

# List

In [58]:
lista = ["a", 33, (456, "xyz")]
lista[2][1]

'xyz'

In [59]:
lista = ["a", 33, (456, "xyz")]
lista = lista + ["4"] # list.append(4)
lista

['a', 33, (456, 'xyz'), '4']

In [60]:
lista = ["a", 33, (456, "xyz")]
lista = lista * 2
lista

['a', 33, (456, 'xyz'), 'a', 33, (456, 'xyz')]

In [61]:
lista = ["a", 33, (456, "xyz")]
lista[0] = 1
lista

[1, 33, (456, 'xyz')]

In [62]:
list( map( lambda x: x**2, [1, 2, 3] ) )

[1, 4, 9]

# Filter

In [63]:
list( filter( lambda x: x < 4, [1, 2, 3, 4, 5, 6] ) )

[1, 2, 3]

# Dictionary

In [64]:
dict = {"key": "value", ("key", 1, 3): 456}
dict

{'key': 'value', ('key', 1, 3): 456}

In [65]:
dict['key']

'value'

In [66]:
dict[('key', 1, 3)]

456

In [67]:
dict2 = {x: x+1 for x in range(10)}
dict2

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}

In [68]:
dict.keys()

dict_keys(['key', ('key', 1, 3)])

In [69]:
dict.values()

dict_values(['value', 456])

In [70]:
dict["newkey"] = 999
dict

{'key': 'value', ('key', 1, 3): 456, 'newkey': 999}

In [71]:
del dict["newkey"]
dict

{'key': 'value', ('key', 1, 3): 456}

In [72]:
dict.clear()
dict

{}

In [73]:
dict = {"key": "value", ("key", 1, 3): 456}
dict2 = {x: x+1 for x in range(10)}
dict = dict2 # Just copy the reference. Shallow copy.
dict2[0] = 'ABC'
dict

{0: 'ABC', 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}

In [74]:
# Deep copy
import copy
dict = {"key": "value", ("key", 1, 3): 456}
dict2 = {x: x+1 for x in range(10)}
dict = copy.deepcopy(dict2)
dict2[0] = 'ABC'
dict

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}

# Set

In [75]:
set(("a","b","b","c")) # set(["a","b","b","c"]) is ok too.

{'a', 'b', 'c'}

In [76]:
# Union. Or operator. "+" can't be used.
{1,2,3}.union({5,6,7})
{1,2,3} | {5,6,7}

{1, 2, 3, 5, 6, 7}

In [77]:
# Intersection. And operator.
{1,2,3}.intersection({1,6,7})
{1,2,3} & {1,6,7}

{1}

In [78]:
# Difference.
{1,2,3}.difference({1,6,7})
{1,2,3} - {1,6,7}

{2, 3}

In [79]:
# Xor: Unique in one side.
{1,2,3}.symmetric_difference({1,6,7})
{1,2,3} ^ {1,6,7}

{2, 3, 6, 7}

In [80]:
setA = set((1,2,3))
setA.add(555)
setA

{1, 2, 3, 555}

In [81]:
setA.remove(555)
setA

{1, 2, 3}

In [82]:
setA.clear()
setA

set()

In [83]:
# Subset
{1, 2, 3}.issubset({1, 2, 3, 4, 5})
{1, 2, 3} <= {1, 2, 3, 4, 5}

True

In [84]:
# Superset
{1, 2, 3, 4, 5}.issuperset({1, 2, 3})
{1, 2, 3, 4, 5} >= {1, 2, 3}

True

---
# Module

In the module directory, create a file named: `__init__.py`

`my_module_dir\mymodule.py`

```python
def myfuntion(param):
    #code
```

`myfile.py`

```python
import my_module_dir.mymodule

my_module_dir.mymodule.myfunction("aaa")
```

`myfile.py`

```python
# Renaming.
import my_module_dir.mymodule as m

m.myfunction("bbb")
```

`myfile.py`

```python
# Import, from mymodule, only myfunction.
from my_module_dir.mymodule import myfunction # Use: import * to import all function
myfunction("ccc")
```

- In a package directory must have an \__init__.py file.
- import dir1.subdir2.subdir3.mymodule

___
# Class

In [1]:
class Complex():
    ''' This is class info '''
    def __init__(self, real = 0, imag = 0): # Constructor
        if(type(real) not in (int, float) or type(imag) not in (int, float)):
            raise Exception("Error!")
        self.real = real
        self.imag = imag

c = Complex(1, 2)
c.real, c.imag

(1, 2)

In [7]:
class Person():
    def __init__(self, input_name):
        self.__name = input_name

    @property # Getter
    def name(self):
        print('get_name!')
        return self.__name

    @name.setter # Setter
    def name(self, input_name):
        print('set_name!')
        self.__name = input_name

In [8]:
class Myclass():
    # Class variable
    classvariable = 0
    def __init__(self, a):
        self.a = a
        Myclass.classvariable = Myclass.classvariable + 1